body{
    margin: 0%;
    background-color: #EAEDED;
}
a{
    color: black;
}
.mydarkbody{
    background-color: black;
}
.darktext{
    color: white;
}
header{
    height: 54px;
    width: 100%;
    background-color: #131921;
    display: inline-block;
}
header > img{
    height: 54px;
    width:9%;
    float: left;
}
header > button{
    text-align: center;
    margin-left: 77%;
    background-color: transparent;
    color: white;
    border-color: transparent;
}
.darkbutton{
    color: yellow;
}
#one{
    height: 110px;
    width: 45%;
    margin-left:3%;
    float:left;
}
.card{
    height: 400px;
    width: 22%;
    /* border: 2px solid black; */
    margin-left: 2%;
    float: left;
    font-family: "Amazon Ember",Arial,sans-serif;
    background-color: white;
    margin-top: 2%;
}
.darkcard{
    background-color: rgb(43, 42, 42);
}
#prime{
    height: 301px;
    width: 93%;
    margin-left: 3%;
}
.main1{
    margin: 3%;
    margin-top: 1%;
    display: inline-block;
}
.mainbody{
    margin: 3%;
    margin-top: 1%;
    display: inline-block;
}
.card > h2{
    font-size: 19px;
    margin-left: 4%;
}
.darkcard > h2{
    color: white;
}
.darkcard > a{
    color: white;
}
.label{
    font-size: small;
    text-decoration: none;
}
.space{
    margin-bottom: 9%;
}
.darksmall{
    background-color: black;
}
.smallbox{
    height: 115px;
    width: 96%;
    margin-left: 2%;
    font-family: "Amazon Ember",Arial,sans-serif;
    background-color: white;
}
.smallbox> h2{
    font-size: 19px;
    margin-left: 4%;
}
.darksmallbox{
    color: white;
}
.darksmall{
    background-color: rgb(43, 42, 42);
}
.darksmall > h2{
    color: white;
}
.center{
    text-align: center;
    text-decoration: none;
}
#img{
    height: 241px;
    width: 96%;
    margin-left: 2%;
    margin-top: 3%;
    float: left;
}
.offer{
    height: 303px;
    width: 96%;
    /* border: 2px solid black; */
    margin-left: 2%;
}
#head{
    height: 38px;
    width: 100%;
    background-color: #232f3e;
}
.top{
    height: 38px;
    width: 100%;
    background-color: #37475a;
}
.top > a{
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: "Amazon Ember",Arial,sans-serif;
    margin-top: 1px;
    text-decoration: none;
}
#div{
    margin-left: 88px;
    margin-top: 2%;
}
.heada{
    height: 38px;
    width: 100%;
    background-color: #232f3e;
    text-align: center;
    float: left;
    display: block;
}
.heada > a{
    /* display: inline-block; */
    color: white;
    font-family: "Amazon Ember",Arial,sans-serif;
    text-decoration: none;
    margin-left: 1%;
    margin-bottom: 2%;
    float: left;
    margin-top: 0.5%;
    display: block;
}
.heada > img{
    height: 38px;
    width: 20%
}
.headimg{
    height: 38px;
    width: 20%;
}
.align1{
    margin-left: 12%;
}
.align2{
    margin-left: 22%;
}
.align3{
    margin-left: 24%;
}
.darkcard > span{
    color: white;
}
#coupon{
    height: 450px;
    width: 591px;
    background-color: red;
    background-image: url('images/coupon.png');
    background-size: 590px 450px;
    background-repeat: no-repeat;
    margin-left: 31%;
    margin-top: 7%;
    position: absolute;
    z-index: 10;
    box-shadow: 15px 15px 50px;
    display: none;
    
}
#coupon > button{
    float: right;
    margin-top: 1%;
    margin-right: 1%;
}
.blur{
    filter: blur(5px); 
}
.noblur{
    filter: blur(0px); 
}
.darkanchor{
    color: white;
}